<div class="container" style="margin-top: 10px; padding: 20px">
  <h1 style="text-align: center">About the Application</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi mollitia
    repellat accusamus nobis voluptate sed corrupti, ut praesentium quia
    exercitationem, porro quam earum ratione nam aliquam repellendus cum. Earum,
    quas.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem eveniet
    dignissimos labore praesentium aliquam tempora, delectus atque non natus ad
    eius vero fuga minus in adipisci at velit id quia!
  </p>
  <img
    src="https://cdn.pixabay.com/photo/2015/02/02/11/09/office-620822_960_720.jpg"
    alt="Unable to Load Image"
    height="250px"
    class="rounded mx-auto d-block"
  />
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Asperiores alias,
    quas placeat tempore aperiam totam sint corrupti praesentium provident
    mollitia, ut, adipisci earum aspernatur ratione ex? Quasi, quo totam!
    Quidem!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum dolor
    voluptatibus aspernatur non aut neque atque impedit expedita blanditiis.
    Dolores soluta impedit recusandae architecto ea vel, veritatis laudantium
    iure cupiditate?
  </p>

  <h2 style="text-align: center">Meet the Developers</h2>
  <div style="display: flex; justify-content: space-evenly">
    <div class="card mx-auto d-block" style="width: 18rem">
      <img
        src="https://cdn.pixabay.com/photo/2018/04/05/09/32/portrait-3292287_960_720.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card mx-auto d-block" style="width: 18rem">
      <img
        src="https://cdn.pixabay.com/photo/2016/10/07/08/56/woman-1721069_960_720.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card mx-auto d-block" style="width: 18rem">
      <img
        src="https://cdn.pixabay.com/photo/2015/03/03/18/58/woman-657753_960_720.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>
<footer class="bg-dark text-center text-white fixed-bottom fixed-bottom">
  <div class="container p-4">
    <section class="mb-4">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt distinctio
        earum repellat quaerat voluptatibus placeat nam, commodi optio pariatur
        est quia magnam eum harum corrupti dicta, aliquam sequi voluptate quas.
      </p>
    </section>
  </div>
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2020 Copyright:
    <a class="text-white" href="#">ContactManager.com</a>
  </div>
</footer>
