<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#" routerLink="home">Smart Contact Manager</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#" routerLink="home">Go to Home </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#" routerLink="about">Go to About </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#" routerLink="login">Login Here :)</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#" routerLink="register">Register Here!</a>
      </li>
    </ul>
  </div>
  <form class="form-inline my-2 my-lg-0">
    <button
      class="btn btn-outline-light my-2 my-sm-0"
      type="submit"
      routerLink="contacts"
    >
      Show All Contacts
    </button>
    &nbsp;&nbsp;
    <button
      class="btn btn-outline-light my-2 my-sm-0"
      type="submit"
      routerLink="addContact"
    >
      Add New Contact</button
    >&nbsp;&nbsp;
    <button
      class="btn btn-info my-2 my-sm-0"
      type="submit"
      (click)="logoutUser()"
    >
      LogOut
    </button>
  </form>
</nav>
<router-outlet></router-outlet>
